<template>
    <ul class="nav__list">
        <li class="nav__item">
            <router-link to="/" class="nav__link">All Items</router-link>
        </li>
        <li class="nav__item" v-for="(name, id) in categories">
            <router-link :to="{ name: 'category-items', params: {categoryId: id }}" class="nav__link">{{ name }}</router-link>
        </li>
    </ul>
</template>

<script>
    export default {
        data(){
            return {
                categories: null,
                loading: false,
                error: null
            };
        },
        created(){
            this.getCategories();
        },
        methods: {
            getCategories(){
                this.error = this.post = null;
                this.loading = true;

                axios.get('http://laratest.loc/api/category')
                    .then(response => {
                        this.categories = response.data})
                    .catch(e => {

                    });
            }
        }
    }
</script>