<template>
    <div class="items" v-if="items.length > 0">
        <div class="item" v-for="item in items">
            <div class="item__image">
                <img :src="item.image" alt="Item">
            </div>
            <div class="item__title">{{ item.name }}</div>
            <div class="item__description">{{ item.description }}</div>
        </div>
    </div>
    <div v-else>
        <h2 class="has-text-centered">Товаров не найдено</h2>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                items: [],
                loading: false,
                error: null
            };
        },
        watch: {
            $route() {
                this.getItems();
            }
        },
        created() {
            this.getItems();
        },
        methods: {
            getItems() {
                this.error = null;
                this.loading = true;
                let apiSrc = null;

                axios.get('http://laratest.loc/api/items', {
                    params: {
                        category_id: this.$route.params.categoryId
                    }
                })
                    .then(response => {
                        this.loading = false;
                        this.items = response.data
                    })
                    .catch(e => {
                        console.log(e);
                    });
            }
        }
    }
</script>