@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);.items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 280px;
          flex: 1 1 280px;
  padding: 20px;
  text-align: center;
}

.item__image {
  height: 200px;
  margin-bottom: 15px;
}

.item__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.item__title {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.item__description {
  font-size: 14px;
}

