.items {
  display: flex;
  flex-wrap: wrap;
}

.item {
  flex: 1 1 280px;
  padding: 20px;
  text-align: center;
}

.item__image {
  height: 200px;
  margin-bottom: 15px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.item__title {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.item__description {
  font-size: 14px;
}