@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

$railway: 'Raleway', sans-serif;

$header-font: $railway;
$text-font: $railway;

$primary-color: #ccc;
$secondary-color: #000;

